{% layout 'fullwidth' %}

{{ 'dealer-styles.css' | asset_url | stylesheet_tag }}
{{ 'jquery.js' | asset_url | script_tag }}
{{ 'dealer_maps.js' | asset_url | script_tag }}
<!-- {{ 'geocode.js' | asset_url | script_tag }} -->


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>


<div class='css-container'>
	<h1 class="css-banner-text">Locate a Dealer Near You</h1>
	<form id="search-form">
		<input class="css-search" id='search-field' type="text" name="search" placeholder="Country, ZIP, State or Dealer">
	</form>
</div>

<div class='css-map-container'>
	<div class='css-map-holder'>
		<div id='css-the-dealers'>
			<div class='css-dealer-info'></div>
			<div class='css-dealer-info'></div>
			<div class='css-dealer-info'></div>
		</div>

		<div id='css-the-map'>
		</div>
	</div>
</div>


<div class="results"></div>
<div id="out"></div>

